.el-button {
  &:focus {
    color: getCssVar('button-text-color');
    background-color: getCssVar('button-bg-color');
  }
  &:hover {
    color: getCssVar('button', 'hover', 'text-color');
    border-color: getCssVar('button', 'hover', 'border-color');
    background-color: getCssVar('button', 'hover', 'bg-color');
    outline: none;
  }
}
